body {
  background-color: #7700d1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  padding-left: 28px;
  padding-right: 28px;
  @media screen and (min-width: 360px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
.logo {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #4c0085;
  display: flex;
  align-items: center;
  font-weight: 600;
  &__icon {
    fill: #4c0085;
    margin-right: 13px;
  }
}

.header-nav {
  display: flex;
  width: 302px;
  background-color: #ffff;
  margin: 0 auto;
  padding: 15px 35px 18px 35px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  align-items: center;
  margin-bottom: 18px;
}
.menu-open {
  display: block;
  background-color: transparent;
  border: none;
  margin-left: auto;
  fill: #4c0085;
}
.header__tel {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}
.header__info {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
}
.contacts {
  display: flex;
}
.btns {
  width: 60px;
  height: 40px;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 360px) {
  .header-btn {
    margin-left: auto;
    display: flex;
  }
}

.header_watsap {
  background-color: #48db45;
  margin-right: 6px;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #1ea91b;
  }
}
.header_telegram {
  background-color: #02adff;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #1b8da9;
  }
}
.tel-header {
  margin-right: 6px;
}
